server/connectionstrings.json
server/rsa_keys.json
/packetdebug.txt
*.pyc
*.iml
*.log
.vs/*
*.pyproj
venv/*
/.idea/dictionaries/*
/.idea/misc.xml
server/migrations/*
client/user_settings.conf
client/venv/*
client/id_rsa.pub
client/rsa_private_key.pem
server/id_rsa.pub
server/rsa_private_key.pem