server/connectionstrings.json
server/moonlapse.db
*.pyc
*.iml
*.log
.vs/
venv/
*.pyproj
__pycache__/
.idea/
server/migrations/*
client/user_settings.conf
client/venv/*
client/id_rsa.pub
client/rsa_private_key.pem
server/id_rsa.pub
server/rsa_private_key.pem
server/venv/*
*.pub
*.pem
*.DS_Store
.vscode/*