*.pyproj
.vs/*
*.log
server/connectionstrings.json
client/__pycache__/__init__.cpython-38.pyc
client/__pycache__/__main__.cpython-38.pyc
client/__pycache__/controller.cpython-38.pyc
client/__pycache__/curses_helper.cpython-38.pyc
client/__pycache__/view.cpython-38.pyc
client/controllers/__pycache__/__init__.cpython-38.pyc
client/controllers/__pycache__/controller.cpython-38.pyc
client/controllers/__pycache__/game.cpython-38.pyc
client/controllers/__pycache__/loginmenu.cpython-38.pyc
client/controllers/__pycache__/mainmenu.cpython-38.pyc
client/controllers/__pycache__/menu.cpython-38.pyc
client/controllers/__pycache__/networkmenu.cpython-38.pyc
client/controllers/__pycache__/registermenu.cpython-38.pyc
client/views/__pycache__/__init__.cpython-38.pyc
client/views/__pycache__/gameview.cpython-38.pyc
client/views/__pycache__/loginview.cpython-38.pyc
client/views/__pycache__/menuview.cpython-38.pyc
client/views/__pycache__/registerview.cpython-38.pyc
client/views/__pycache__/view.cpython-38.pyc
server/__pycache__/__main__.cpython-38.pyc
server/__pycache__/database.cpython-38.pyc
server/__pycache__/log.cpython-38.pyc
server/__pycache__/player.cpython-38.pyc
server/__pycache__/room.cpython-38.pyc
server/__pycache__/tcpsrv.cpython-38.pyc
server/__pycache__/__init__.cpython-38.pyc
networking/__pycache__/payload.cpython-38.pyc
networking/__pycache__/packet.cpython-38.pyc
networking/__pycache__/__init__.cpython-38.pyc
test
networking/__pycache__/models.cpython-38.pyc
networking/__pycache__/models.cpython-38.pyc
networking/__pycache__/models.cpython-38.pyc
networking/__pycache__/models.cpython-38.pyc
server/__pycache__/protocol.cpython-38.pyc
